.bad {
	color: #330000;
}

.good {
	color: #003300;
}

.buttonDiv {
	float:right;
}

.outerDiv {
	width: 100%;
}

.tableDiv {
	width: 50%;
	margin: 0 auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	font-size: 1.2em;
}

td div {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.2em;
}

td {
	width: 50%;
}

body {
    background-image: url("restaurant.png");
}